body{
    /* background-color: salmon; */
}
h1{
    color: blue;
    text-align: center;
    padding-top: 2%;
    border-radius: 20px;
}
img{
    height:250px;
    width:300px;
    padding: 5%;
}
.id{
    height:30px;
    width:300px;
    color: yellow;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 1%;
}
.id1{
    height:30px;
    color:white;
    background-color: transparent;
    border-radius: 10px;
}
ul li{
    list-style: none;
    float: left;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}
button{
    color:yellow;
    font-size: 80%;
    background-color: white;
    border-radius:10px;
    font-family: Tw Cen MT Condensed Extra Bold;
    height:30px;
    width:110px;
}
button:hover{
    color:white;
    font-family:Times New Roman;
    /* background-size: cover; */
    background-color:yellow;
}
.move{
    text-align:center;
    color:white;
}
li a{
    text-decoration: none;
}
h2{
    color: white;
    width:300px;
    text-align: center;
    padding-left: 40%;
}
.sign{
    color:blue;
    padding-top: 18%;
    padding-left: 50%;
    border-radius: 10px;
}
h2 a{
 text-decoration: none;
 padding-left: 25%;
 color:white;
  
}
.c1{
    color:blue;
    /* padding-top: 5%; */
    float: left;
}
.c2{
    color:blue;
    float: left;
}
.c3{
    color:white;
    background-color:blue;
    float: left;
}
.sign form{
    /* background-color:gray; */
    width:500px;
    height:180px;
    border-radius:10px;
    text-align:center;
    padding-right:5%;
    padding-left:5%;
    padding-top:5%;
}
form h2 button{
    width:160px;
    background-color:salmon;
    /* color:blue; */

}





